:root{
    --Pine-green: #1C3F3C;
    --Golden-sand:  #BC9C61;
    --Light-cream: #F2EEE3;
    --White:#fff;
    --Font-Karla: 'Karla', sans-serif;
    --Font-QuestaSlab: 'QuestaSlab', sans-serif;
}

